@charset "UTF=8";

/*Paleta de cores
#FFFFFF
#5163A3
#4F528F
#463656
#000F39
#000000
*/

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #000F39;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 255px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.642);
    transform: translate(-50%,-50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease; /*transição ser mais suavizada*/
}

section#login > div#imagem {
    display: block;
    background: #000F39 url(../imagens/pexels-brett-sayles-3653997.jpg) no-repeat;
    height: 200px;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

section#login > div#formulario > h1 {
    text-align: center;
    margin-top: 10px;
}

section#login > div#formulario > p {
    padding: 10px;
    font-size: .9em;
}

form > div.campo {
    background-color: #000F39;
    border: 2px solid #000F39;
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 8px;
    margin: 5px 0px;
}

form > div.campo > label {
    display: none;
}

form > div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

form > div.campo > input {
    background-color: #5163A3;
    font-size: 1em;
    padding: 3px;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    transform: translateY(-12.3px);
}

form > div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    margin-top: 10px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #5163A3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #4F528F;
}

form > a.botao {
    display: block;
    text-align: center;
    background-color: white;
    padding-top: 8px;
    margin-top: 4px;
    width: 100%;
    height: 40px;
    font-size: 1em;
    text-decoration: none;
    color: #000F39;
    border: 1px solid #4F528F;
    border-radius: 5px;
    cursor: pointer;
}

form > a.botao > span {
    font-size: 1em;
}

form > a.botao:hover {
    background-color: #4F528F;
}